@using System.Text
@model IndexViewModel
@inject IShortStringService ShortString
@{
    ViewData["Title"] = "Home Page";
}

<vc:registered-users title="Registered users aaaa"></vc:registered-users>
<vc:registered-users title="Registered users aaaa" />
<vc:registered-users title="Registered users aaa" />
@*Едно и също for и Model*@
<partial name="_HomePageStart" for="Description" />
<partial name="_HomePageStart" model="Model.Description" />
@*Друг пример за partial от тук задаваме ModelView-то*@
<partial name="_UserListPartial" model="Model.Users" />


<form asp-action="Index">
    <textarea asp-for="Description"></textarea>
    <input asp-for="Name" />
    <input asp-for="Processors" />
</form>

<hr />

<div class="text-center">
    @if (User.Identity.IsAuthenticated)
    {
        // Comment
        <h1 class="display-4">Welcome, @User.Identity.Name</h1>
    }
    else
    {
        <h1 class="display-4">Welcome, @Model.Name</h1>
    }
    <h2>It @Model.Year year.</h2>
    <p>@ShortString.GetShort(Model.Description, 200)</p>
    <p>We have @Model.UsersCount users.</p>
    @* Comment *@
    <p>Processors: @Model.Processors</p>
    <p>Time: @DateTime.Now</p>
    <p>Id: @Model.Id</p>
    @foreach (var item in Model.Users)
    {
        <p>User: @item </p>
    }
</div>

<table bootstrap-table="" table-name="Digits table">
    @for (int i = 0; i < 10; i++)
    {
        <tr><td>@i</td></tr>
    }
</table>

@section Links {
    <li class="nav-item">
        <a class="nav-link text-dark" href="https://google.com">Google</a>
    </li>
}
