<p>Controller Operations: </p>
<p>Transiant: @ViewBag.Transient.OperationId</p>
<p>Scoped: @ViewBag.Scoped.OperationId</p>  
<p>Singleton: @ViewBag.Singleton.OperationId</p>  
<p>Instance: @ViewBag.SingletonInstance.OperationId</p>  

<p>OperationService Operations: </p>
<p>Transiant: @ViewBag.Service.TransientOperation.OperationId</p>  
<p>Scoped: @ViewBag.Service.ScopedOperation.OperationId</p>  
<p>Singleton: @ViewBag.Service.SingletonOperation.OperationId</p>  
<p>Instance: @ViewBag.Service.SingletonInstanceOperation.OperationId</p>  
