@model IEnumerable<SaleModel>

@{    
    ViewData["Title"] = "All Sales";
}

<h2 style="margin-left: 10px">@ViewData["Title"]</h2>

<table class="table table-bordered table-hover" style="margin-top: 40px">
    <thead>
        <tr>
            <th>#</th>
            <th>Car Make</th>
            <th>Car Model</th>
            <th>Travelled Distance</th>
            <th>Customer</th>            
            <th>Total Price</th>
        </tr>
        @{
            int index = 1;
            foreach (var sale in Model)
            {
                <tr>
                    <th scope="row">@index</th>
                    <th>@sale.CarMaked.CarMake</th>
                    <th>@sale.CarMaked.Model</th>
                    <th>@sale.CarMaked.TravelledDistance</th>
                    <th>@sale.CustomerName</th>
                    <th>@sale.TotalPrice.ToString("F2")</th>                    
                </tr>
                index++;
            }
        }
    </thead>
</table>